set ignorecase
set smartcase
set scrolloff=3         " 3 lines above/below cursor when scrolling


" ============================================================================
" Movement
" ============================================================================

" navigation
nnoremap n h
nnoremap u k
nnoremap e j
nnoremap i l

" Page up/down
nnoremap j <PageUp>
nnoremap h <PageDown>

" Previous / next match
nnoremap b ,
nnoremap B ;
nnoremap k n
nnoremap K N

" Previous / next word
nnoremap l b
nnoremap y w
nnoremap <C-l> B
nnoremap <C-y> W


" ============================================================================
" Editing
" ============================================================================

" undo/redo
nnoremap z u
nnoremap gz U
nnoremap Z <C-r>

" insert/replace
nnoremap s i
nnoremap S I
nnoremap t a
nnoremap T A

" change
nnoremap w c
nnoremap W C

" visual
nnoremap a v
nnoremap A V

" enter, open line
nnoremap <CR> i<CR><Esc>
nnoremap <S-CR> <CR>
nnoremap <S-CR> O<Esc>
nnoremap <C-CR> o<Esc>

" copy/paste
nnoremap x x
nnoremap c y
nnoremap v gP
nnoremap X dd
nnoremap C yy
nnoremap V p

" Moving blocks of text in visual mode
vnoremap < <gv
vnoremap > >gv

" Select all text
map <Space>a ggVG

" Indent everything
noremap <Space>I ggvG=

" Indent selection in visual mode
vnoremap <Space>i =

" Indent the current line
noremap <Space>i v=

" Join lines
nnoremap <Space>J J


" ============================================================================
" Editor control
" ============================================================================

" Enter the command-line mode
noremap ; :

" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>


" ============================================================================
" IDE actions
" ============================================================================

nnoremap / :action Find<CR>
nnoremap <Space>o :action GotoClass<CR>
nnoremap <Space>O :action GotoFile<CR>
nnoremap <Space>d :action CloseContent<CR>
nnoremap <Space>j :action RecentFiles<CR>
nnoremap <Space>k :action FileStructurePopup<CR>
nnoremap <Space>h :action QuickJavaDoc<CR>
