set ignorecase
set smartcase
set scrolloff=3         " 3 lines above/below cursor when scrolling


" ============================================================================
" Movement
" ============================================================================

" navigation
nnoremap n h
nnoremap u k
nnoremap e j
nnoremap i l

" Page up/down
nnoremap j <C-U>
nnoremap h <C-D>
nnoremap j <S-Home>
nnoremap h <S-End>

" Previous / next match
nnoremap b ,
nnoremap B ;
nnoremap k n
nnoremap K N

" Previous / next word
nnoremap l b
nnoremap y w
nnoremap <C-l> B
nnoremap <C-y> W


" ============================================================================
" Editing
" ============================================================================

" undo/redo
nnoremap z u
nnoremap gz U
nnoremap Z <C-r>

" insert/replace
nnoremap s i
nnoremap S I
nnoremap t a
nnoremap T A

" change
nnoremap w c
nnoremap W C

" visual
nnoremap a v
nnoremap A V

" enter, open line
nnoremap <CR> i<CR><Esc>
nnoremap <S-CR> <CR>
nnoremap <S-CR> O<Esc>
nnoremap <C-CR> o<Esc>

" copy/paste
nnoremap x x
nnoremap c y
nnoremap v gP
nnoremap X dd
nnoremap C yy
nnoremap V p

" Moving blocks of text in visual mode
vnoremap < <gv
vnoremap > >gv

" Select all text
map <Space>a ggVG

" Indent everything
noremap <Space>I ggvG=

" Indent selection in visual mode
vnoremap <Space>i =

" Indent the current line
noremap <Space>i v=

" Join lines
nnoremap jj J


" ============================================================================
" Editor control
" ============================================================================

" Enter the command-line mode
noremap ; :

" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>


" ============================================================================
" IDE actions
" ============================================================================
nnoremap <Space> <Nop>

nnoremap / :action Find<CR>
nnoremap <Space>c :action GotoClass<CR>
nnoremap <Space>o :action GotoFile<CR>
nnoremap <Space>s :action CloseContent<CR>
nnoremap <Space>v :action VimWindowSplitVertical<CR>
nnoremap <Space>b :action VimWindowSplitVertical<CR>
nnoremap <Space>r :action RecentFiles<CR>
nnoremap <Space>k :action FileStructurePopup<CR>
nnoremap <Space>h :action QuickJavaDoc<CR>
nnoremap <Space>Tab :action VimWindowPrev<CR>

nnoremap <Space>e :action VimWindowDown<CR>
nnoremap <Space>i :action VimWindowRight<CR>
nnoremap <Space>n :action VimWindowLeft<CR>
nnoremap <Space>u :action VimWindowUp<CR>

nnoremap <Space>y :action NextTab<CR>
nnoremap <Space>l :action PreviousTab<CR>
nnoremap <S-Space>t :action ReopenClosedTab<CR>

