! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #073642, #002b36, #073642
rofi.color-normal: #073642, #689900, #073642, #073642, #48cfc5
rofi.color-active: #073642, #48cfc5, #073642, #073642, #48cfc5
rofi.color-urgent: #073642, #fc0000, #073642, #073642, #fc0000
