! ------------------------------------------------------------------------------
! ROFI Color theme solarized
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #073642, #002b36, #073642
rofi.color-normal: #073642, #689900, #073642, #073642, #48cfc5
rofi.color-active: #073642, #48cfc5, #073642, #073642, #48cfc5
rofi.color-urgent: #073642, #fc0000, #073642, #073642, #fc0000

! ------------------------------------------------------------------------------
! ! ! ROFI Color theme ashes
! ! ! ------------------------------------------------------------------------------
! ! ! Use extended color scheme
! rofi.color-enabled:                  true
! ! Color scheme for normal row
! rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#95aec7,#f3f4f5
! ! Color scheme for urgent row
! rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#393f45
! ! Color scheme for active row
! rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#393f45
! ! Color scheme window
! rofi.color-window:                   #ffffff,#f5f5f5
! ! Separator style (none, dash, solid)
! rofi.separator-style:                solid
!
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
